body{
	background-color: #f9931538;
	margin: 0;
	}
ul{ 
	background-color: orange;
	padding: 0;
	margin: 0;
	}
li {

	list-style: none;
	display: inline-block;
	}
a {	
	position: relative;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	padding: 15px;
	}
a::before {
			position: absolute;
    		content: '';
    		height: 10px;
    		width: 10px;
    		background-color: white;
    		border-radius: 100%;
    		left: 3px;
    		top: 18px;
			}
li:hover{
		background-color: red;
		}
a:hover::before {background-color: green;}
main {
		padding: 15px;
	}
h1 {font-size: 45px;}
h2 {text-decoration-line: line-through;}
h3 {text-decoration-line: underline;}
.uppercase {text-transform: uppercase;}
.capitalize {text-transform: capitalize;}
.spacing {
			letter-spacing: 5px;
			color: blue;
		}
span {color: red;
		font-weight: bold;}
p{width: 80%;
	font-size: 20px;}
